.settings {
  padding: 50px 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-grow: 1;
}
.aside {
  position: fixed;
  height: 90vh;
  border: 1px solid #278d9f;
  background: #192f2d;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__all-width-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__select {
    background: url(../../assets/svg/ball.svg) no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    color: #192f2d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 22px;
    line-height: 24px;
  }
  &__sound {
    background: url(../../assets/svg/mute.svg) no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    margin: 0 40px 0;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  &__label {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    .aside__input-checkbox:checked ~ .aside__checkbox {
      background: #2299eb url(../../assets/svg/checked.svg) 50% 50% no-repeat;
    }
  }
  &__input-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  &__checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: transparent;
    border-radius: 5px;
    border: #2299eb solid 1px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
    transition: 0.3s;
    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0 16px;
  }
  &__reset {
    font-size: 12px;
    line-height: 14px;
    width: 254px;
    height: 36px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    border: rgb(34, 153, 235) solid 1px;
    border-radius: 30px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
.search {
  width: 290px;
  height: 36px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  border: rgb(34, 153, 235) solid 1px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  &__input {
    width: 80%;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
  }
  &__img {
    height: 18px;
    width: 18px;
  }
}
.sort {
  margin-top: 20px;
  transition: 0.3px;
  &:hover {
    cursor: pointer;
  }
  &__text {
    margin-right: 24px;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    transition: 0.3px;
  }
  &__select {
    padding: 0 10px 0;
    width: 178px;
    height: 30px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    border: rgb(34, 153, 235) solid 1px;
    border-radius: 30px;
    transition: 0.3px;
    &:hover {
      cursor: pointer;
    }
  }
  &__option {
    background: #192f2d;
  }
}

.shape {
  .shape__input:checked ~ .shape__item {
    filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
  }
  &__item {
    display: block;
    padding-top: 50px;
    width: 48px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    &_bell {
      background: url(../../assets/svg/bell.svg) 50% 0% no-repeat;
      background-size: contain;
    }
    &_ball {
      background: url(../../assets/svg/ball.svg) 50% 0% no-repeat;
      background-size: contain;
    }
    &_cone {
      background: url(../../assets/svg/cone.svg) 50% 0% no-repeat;
      background-size: contain;
    }
    &_snowflake {
      background: url(../../assets/svg/snowflake.svg) 50% 0% no-repeat;
      background-size: contain;
    }
    &_toy {
      background: url(../../assets/svg/toy.svg) 50% 0% no-repeat;
      background-size: contain;
      width: 40px;
    }
  }
}

.range {
  &__all {
    background: #ffffff;
    height: 2px;
  }
  &__current {
    background: #24c5db;
    height: 2px;
    width: 50%;
    position: relative;
  }
  &__point {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%),
      radial-gradient(104.22% 230.94% at -4.22% 0%, #24c5db 3.62%, rgba(36, 197, 219, 0.26) 55.1%);
    transition: 0.3s;
    &:hover {
      cursor: pointer;
    }
  }
  &__start {
    left: 0;
    transform: translate(-50%, -50%);
  }
  &__end {
    right: 0;
    transform: translate(50%, -50%);
  }
}
.number {
  margin-top: 15px;
}
.year {
  margin-top: 15px;
}

.color {
  .color__input_white:checked ~ .color__item {
    background: #ffffff url(../../assets/svg/checked-grey.svg) 50% 50% no-repeat;
  }
  .color__input_yellow:checked ~ .color__item {
    background: #fdd700 url(../../assets/svg/checked-grey.svg) 50% 50% no-repeat;
  }
  .color__input_red:checked ~ .color__item {
    background: #fd0000 url(../../assets/svg/checked.svg) 50% 50% no-repeat;
  }
  .color__input_blue:checked ~ .color__item {
    background: #2299eb url(../../assets/svg/checked.svg) 50% 50% no-repeat;
  }
  .color__input_green:checked ~ .color__item {
    background: #08aa05 url(../../assets/svg/checked.svg) 50% 50% no-repeat;
  }
  &__item {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 25px;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    &_white {
      background: #ffffff;
    }
    &_yellow {
      background: #fdd700;
    }
    &_red {
      background: #fd0000;
    }
    &_blue {
      background: #2299eb;
    }
    &_green {
      background: #08aa05;
    }
  }
}
.size {
  display: flex;
  justify-content: space-between;
}
.catalog {
  margin-left: 482px;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #278d9f;
  background-color: rgba(31, 112, 127, 0.3);
  width: 320px;
  height: 280px;
  padding: 20px;
  border-radius: 10px;
  font-family: Steppe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 30px 30px;
  &__tittle {
    font-family: Neucha;
    font-size: 22px;
    line-height: 24px;
  }
  &__container {
    display: flex;
    &_left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 230px;
      padding: 20px;
    }
  }
  &__button {
    height: 40px;
    width: 75px;
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
    border: #2299eb solid 1px;
    border-radius: 30px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background: #2299eb;
    }
    &_active {
      background: #cbb77a;
      border: none;
    }
  }
}
