* {
    padding: 0;
    margin: 0;
    border: none;
    color: #ffffff;
    font-family: Steppe;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    outline: none;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
    background: url(../src/assets/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
}
.header-footer {
    background: #192f2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 20px 100px;
}
.header {
    .nav {
        &__button {
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
            background: transparent;
            transition: 0.3s;
            padding-right: 40px;
            &:hover {
                color: #278d9f;
                cursor: pointer;
            }
        }
    }
    &__container {
        display: flex;
    }
    &__snow {
        width: 35px;
        height: 35px;
        background: url(../src/assets/svg/snow.svg) no-repeat 50%;
        background-size: contain;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    &__sound {
        width: 35px;
        height: 35px;
        margin: 0 40px 0;
        background: url(../src/assets/svg/mute.svg) no-repeat 50%;
        background-size: contain;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .selected {
        background: url(../src/assets/svg/ball.svg) no-repeat;
        background-size: contain;
        width: 35px;
        height: 35px;
        color: #192f2d;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        font-size: 22px;
        line-height: 24px;
    }
}
.footer {
    &__img {
        width: 50px;
        height: 20px;
    }
    &__link {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
    }
}
